.div_label{
    font-size: 1.3em;
    display: block;
}

.div_labels{
    font-size: 1em;
    display:block;
    background: white;
    color: black;
    border-style:outset;
}

.labelLabelsdiv{
    display: inline;
    padding-right: 0;
    padding-left: 0;
}