.div_label{
    font-size: 1.3em;
    display: block;
    background-color: #777;
    color: #fff;
    text-align: center;
    font-weight: 700;
    font-family: sans-serif;
    border-radius: .25em;
}

.div_labels{
    font-size: 1em;
    display:block;
    background: white;
    color: black;
    border-style:outset;
}

.labelLabelsdiv{
    display: inline;
    padding-right: 0;
    padding-left: 0;
}