.AdministradorVentana {
  text-align: center;
}

.AdministradorVentana-logo {
  width: auto;
  max-width: 100%;
  max-height: 100%;
  height: auto;
}

.AdministradorVentana-header {
  text-align: center;
}

.AdministradorVentana-title {
  font-size: 1.5em;
}

.AdministradorVentana-intro {
  font-size: large;
}

.row_boton_cerrar_sesion{
  text-align: right;
}


@keyframes AdministradorVentana-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
