.UsuarioVentana {
    text-align: center;
}

.UsuarioVentana-logo {
    width: auto;
    max-width: 100%;
    max-height: 100%;
    height: auto;
}

.UsuarioVentana-header {
    text-align: center;
}

.UsuarioVentana-title {
    font-size: 1.5em;
}

.UsuarioVentana-intro {
    font-size: large;
}

.row_boton_cerrar_sesion{
    text-align: right;
}

@keyframes UsuarioVentana-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}